.thermx-progress {

	width: 200px;
	height: 500px;
	background-image: url(progress.jpg);


}
.thermx-progress-burst {
    width: 200px;
    height: 500px;
    background-image: url(progress-burst.jpg);
}

.thermx-progressgraphics {
	width: 13px;
	padding: 48px 0px 0px 42px;
	float: left;

}
.thermx-progressmercury {
    position:absolute;
	background-image: url(mercury.jpg);
    background-repeat: repeat-y;
    margin-bottom:0px;
    padding-bottom:0px;

}
.thermx-progressmercurytop {
	background-image: url(mercury-top.jpg);
	width: 13px;
	height: 7px;

}
.thermx-progressnumbers {
	float: right;
	margin: 25px 10px 0px 0px;
	font-size: 10px;
	color: #123456;
	text-align: right;
	width: 100px;
    line-height:14px;


}
.thermx-progressvalue {
	border-top: solid 1px #cccccc;
	margin: 25px 0px 0px 0px;

}

.percent {margin-top: xmtpx; height: xhtpx;}