.thermx-progress {

	width: 200px;
	height: 500px;
	background-image: url(../images/progress.png);


}
.thermx-progress-burst {
    width: 200px;
    height: 500px;
    background-image: url(../images/progress-burst.png);
}

.thermx-progressgraphics {
	width: 13px;
	padding: 48px 0 0 42px;
	float: left;

}
.thermx-progressmercury {
  /*  position:absolute; */
	background-image: url(../images/mercury.jpg);
    background-repeat: repeat-y;
    margin-bottom:0;
    padding-bottom:0;

}
.thermx-progressmercurytop {
	background-image: url(../images/mercury-top.jpg);
	width: 13px;
	height: 7px;

}
.thermx-progressnumbers {
	float: right;
	margin: 25px 10px 0 0;
	font-size: 10px;
	color: #123456;
	text-align: right;
	width: 100px;
    line-height:14px;


}
.thermx-progressvalue {
	border-top: solid 1px #cccccc;
	margin: 25px 0 0 0;

}
